---
layout: default
---
{% include relative.html %}
<div class="blog">

  <h1 class="page-heading">{{ page.title | escape }}</h1>
  
  {{ content }}

  <hr>

  <div class="post-list">
    {% for post in site.posts %}
      <article>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} <!--• <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{% if post.author %} {{ post.author }} {% else %} {{site.author}}{% endif %}</span></span>--></span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <p class="post-preview">{{ post.content | strip_html | truncatewords:40}}<br>
            <a href="{{ post.url }}">Read more...</a><br><br>
      </article>
    {% endfor %}
  </div>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>-->

</div>