body {
  max-width: 50em;
}
main {
  margin-left: 7em;
  position: relative;
  z-index: 50;
}
header, footer {
  position: relative;
  z-index: 100;
}

.background-wrapper,
.homepage .background-wrapper {
  position: fixed;
  bottom:50%;
  left:-18em;
  transform: rotate(-90deg);
  z-index: 0;
  white-space: nowrap;
}

.post-list h2 {
  margin-top: 0em;
}

@media screen and (max-width: 600px) {
  main {
    margin-left: 0em;
  }
  .background-wrapper {
    display: none;
  }
  .homepage main {
    margin-left: 7em;
  }
  .homepage .background-wrapper {
    display: initial;
  }
}